<app-navbar></app-navbar>
<div [ngClass]="{'home-wrap':true}">
    <div [ngClass]="{'account-wrap':true}">
        <h2>Account Details: {{accountName.value}}</h2>
        <h2 id="balance" [style]="balanceStyle">Balance: ${{balance.value}} 
        </h2>
        <br>
          <button class="btn btn-outline-primary btn-lg" type="submit" *ngIf="!createFormOpen" [routerLink]="['/send-money']">Send Money</button>
          <br>
          <br>
        <button class="btn btn-outline-primary btn-lg" *ngIf="!createFormOpen" (click)="openCreateForm();">Add Transaction</button>
          <form class="input-form" *ngIf="createFormOpen">
                <div class="input-group mb-3">   
                  <select class="form-select" [formControl]="txnType" aria-label="Default select example" style="width: 30px;">
                    <option value="Expense">Expense (-)</option>
                    <option value="Income">Income (+)</option>
                  </select>            
                  <span class="input-group-text">$</span>
                  <input type="number" placeholder="Amount" [formControl]="txnAmount" class="form-control" aria-label="Amount (to the nearest dollar)">
                </div>
                <div class="input-group">
                  <textarea class="form-control" [formControl]="txnDescription" placeholder="Account Description..." aria-label="With textarea"></textarea>
                </div>
                <button id="submitButton" class="btn btn-outline-secondary btn-lg" type="submit" (click)="addTransaction(txnAmount.value, txnDescription.value, txnType.value);">Add</button>
                
          </form>

          

          <div class="account-card"*ngFor="let txn of transactions">
            <h2>{{txn.description}}</h2>
            <h1>{{txn.type}}: ${{txn.amount}}</h1>
        </div>
        <p>{{accountMessage}}</p>
        
        
    </div>
</div>