.main-wrap {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form-wrap {
    width: 55%;
    height: 100%;
    background: rgba(0,0,0,0);
    box-shadow: 0 15px 25px #000;
    align-items: center;
    text-align: center;
}

#revImg {
    margin-top: 50px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 10%;
    padding-bottom: 25px;
    color: #636363
}

.input-group {
    padding-left: 3%;
    padding-right: 3%;
}

p {
    padding-top: 45px;
    color: red;
}