<nav [ngClass]="{'navbar':true, 'bg-dark text-light':darkMode, 'bg-light text-dark':!darkMode}">
    <div class="container-fluid">
        <a [ngClass]="{'navbar-brand':true, 'text-light':darkMode}" [routerLink]="['/home']"><img id="revicon" src="../../../assets/images/favicon.png" alt="Revature Icon">Revature Banking</a>
        <div class="form-check form-switch" (click)="changeMode()">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">{{modeText}}</label>
        </div>          
        <form class="d-flex" role="search">
            <button class="btn btn-outline-danger" (click)="logout();">Logout</button>
        </form>
    </div>
</nav>
