.home-wrap {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message{
    color:red;
}

.account-wrap {
    position: relative;
    width: 80%;
    height: auto;
    background: white;
    box-shadow: 0 15px 25px #000;
    text-align: center;
    padding-bottom: 10%;
    padding-top: 3%;
    margin-top: 3%;
}

h2 {
    padding-top: 5px;
}

h1 {
    margin-top: 7%;
    text-align: right;
}

.account-card {
    margin-top: 2%;
    width: 80%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border-style: inset;
    border-width: thick;
    margin-bottom: 25px;
    text-align: left;
    padding: 10px;
}

h4 {
    font-size: large;
    color: #636363;
}

.input-form {
    margin-top: 10px;
    padding-left: 15%;
    padding-right: 15%;
}

#submitButton {
    margin-top: 10px;
}