<app-navbar></app-navbar>
<div class="home-wrap">
    <div class="account-wrap">
        <h2>My Bank Account</h2>
        <div *ngFor = "let accounts of allUserAccounts" class="account-card">
          <h2 *ngIf= "accountExists">Account ID: {{accounts.id}}</h2>
            <h2 *ngIf="accountExists">{{accounts.name}}</h2>
            <h4 *ngIf="accountExists">Description: {{accounts.description}}</h4>
            <h4 *ngIf="accountExists">Created On: {{accounts.creationDate}}</h4>
            <button class="btn btn-outline-secondary btn-lg" [routerLink]="['/account']">Account Details</button>
            <h1 *ngIf="accountExists">Balance: ${{accounts.balance}}</h1>
        </div>
        <p>{{accountMessage}}</p>
        <!-- *ngIf="!createFormOpen && !accountExists" -->
        <button class="btn btn-outline-primary btn-lg"  (click)="openCreateForm();">Open Account</button>

        <div> <button (click)="openCreateForm();" class="btn btn-outline-secondary btn-lg">Update Account Info</button> </div>
        

        <form class="input-form" *ngIf="createFormOpen">
              <div class="input-group mb-3">
                <input type="text" class="form-control" [formControl]="accountName" placeholder="Account Name" id="basic-name" aria-describedby="basic-addon3">
              </div>
              <div class="input-group mb-3">               
                <span class="input-group-text">$</span>
                <input type="number" placeholder="Balance" [formControl]="balance" class="form-control" aria-label="Amount (to the nearest dollar)">
              </div>
              <div class="input-group">
                <textarea class="form-control" [formControl]="accountDescription" placeholder="Account Description..." aria-label="With textarea"></textarea>
              </div>
              <button id="submitButton" class="btn btn-outline-secondary btn-lg" type="submit" (click)="insertAccount(accountName.value, balance.value, accountDescription.value);">Save</button>
        </form>
    </div>
</div>