html, body {
    height: 100vh;
    width: 100vw;
    background-color: black; 

}

.app-wrap {
    width: 100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
}

.app-wrap2 {
    width: 100;
    height: 100;
    justify-content: center;
    align-items: center;
}