
.main-wrap {
    width: 100%;
    height: 100vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form-wrap {
    padding:40px;
    border-radius: 25px;
    width: 60%;
    height: 105%;
    background: rgba(87, 84, 84, 0);
    box-shadow: 2px 2px 2px 2px rgb(40, 41, 48);

}

h6{
    text-align: left;
}

h2{
    text-align: center !important;
}