<app-navbar></app-navbar>
<div style="margin: 25px" >
    <div class="main-wrap">
        <div class="form-wrap">
            <form class="row g-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
                <h2>User Profile</h2>

                <br><br><br>
                
                <hr>
                <h6 style="color:rgb(97, 97, 97)">User Information</h6>
                <div class="row g-3">
                    <div class="col">
                        <input type="text" readonly class="form-control-plaintext" value="First Name:">
                        <input type="text" [(ngModel)]="profile.firstName" class="form-control" placeholder="{{profile.firstName}}" name="first">
                    </div>

                    <div class="col" style="align-items:center !important">
                        <input type="text" readonly class="form-control-plaintext" value="Last Name:">
                        <input type="text" [(ngModel)]="profile.lastName" class="form-control" placeholder="{{profile.lastName}}" name="last">
                    </div>
                </div>


                <hr>
                <h6 style="color:rgb(97, 97, 97)">Location</h6>
                <div class="row g-3">
                    <div class="col">
                        <input type="text" readonly class="form-control-plaintext" value="Street Address:">
                        <input type="text" [(ngModel)]="profile.address" class="form-control" placeholder="{{profile.address}}" name="address">
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col">
                        <input type="text" readonly class="form-control-plaintext" value="City:">
                        <input type="text" [(ngModel)]="profile.city" class="form-control" placeholder="{{profile.city}}" name="city">
                    </div>

                    <div class="col-auto" style="align-items:center !important">
                        <input type="text" readonly class="form-control-plaintext" value="State:">
                        <input type="text" [(ngModel)]="profile.state" class="form-control" placeholder="{{profile.state}}" name="state">
                    </div>
        
                    <div class="col-auto">
                        <input type="text" readonly class="form-control-plaintext" value="Postal Code:">
                        <input type="text" [(ngModel)]="profile.zipCode" class="form-control" placeholder="{{profile.zipCode}}" name="zip">
                    </div>
                </div>


                <hr>
                <h6 style="color:rgb(97, 97, 97)">Contact</h6>
                <div class="col-auto">
                    <input type="text" readonly class="form-control-plaintext" value="Telephone:">
                    <input type="text" [(ngModel)]="profile.phone" class="form-control" placeholder="{{profile.phone}}" name="phone">
                </div>
                <hr>

                <div style="text-align:center !important" class="col-12">
                    <button class="btn btn-success btn-lg" type="submit" (click)="postUserProfile()">Update</button>
                </div>
                <p>{{this.updateFeedback}}</p>

            </form>
        </div>
    </div>
</div>
