<app-navbar></app-navbar>
<div>
    <div class="col-md-4 mb-3" style="margin:auto; margin-top: 50px">
      <div class="card">
        <div class="card-body" style="padding:5%">
          <div class="d-flex flex-column align-items-center text-center">
            <img id="revicon" src="../../../assets/images/favicon.png" class="rounded-circle" width="150">
            <div class="mt-3">
              <h3 *ngIf=!visible>{{profile.firstName}} {{profile.lastName}}</h3>
              <p class="text-secondary mb-1">TGH Financial Customer</p>
              <div></div>
              <p *ngIf=!visible style="font-size:large">{{profile.address}}
                <br>{{profile.city}}, {{profile.state}} {{profile.zipCode}}
                <br>{{this.telephone}}
             </p>
              <button *ngIf=!visible class="btn btn-success" (click)="switchVisibility()">Update Profile</button>
              <button *ngIf=visible class="btn btn-success" (click)="submitForm()">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!--END OF USER PROFILE CARD -->

<p class="feedback">{{this.updateFeedback}}</p>
<br>

<div *ngIf=visible style="margin:auto" class="col-md-7">
  <div class="card" >
    <div class="card-body">

      <form #myForm="ngForm" id="myForm">
        <div class="row">
          <div class="col-sm-3"> 
            <h6>First Name</h6>
          </div>
          <div class="col">
            <input type="text" [(ngModel)]="profile.firstName" class="form-control" placeholder="First Name" name="first" #firstName="ngModel" required>
            <small *ngIf="firstName.invalid && firstName.touched">First Name is required</small>
          </div>
        </div>
        
        <hr>

        <div class="row">
          <div class="col-sm-3">
            <h6>Last Name</h6>
          </div>
          <div class="col">
            <input type="text" [(ngModel)]="profile.lastName" class="form-control" placeholder="Last Name" name="last" #lastName="ngModel" required>
            <small *ngIf="lastName.invalid && lastName.touched">Last Name is required</small>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-sm-3">
            <h6>Address</h6>
          </div>
          <div class="col">
            <input type="text" [(ngModel)]="profile.address" class="form-control" placeholder="Street Address" name="address" #address="ngModel" required>
            <small *ngIf="address.invalid && address.touched">Address is required</small>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-sm-3">
            <h6>City</h6>
          </div>
          <div class="col">
            <input type="text" [(ngModel)]="profile.city" class="form-control" placeholder="City" name="city" #city="ngModel" required>
            <small *ngIf="city.invalid && city.touched">City is required</small>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-sm-3">
            <h6>State</h6>
          </div>
          <div class="col">
            <input type="text" [(ngModel)]="profile.state" class="form-control" placeholder="State" name="state" #state="ngModel" required>
            <small *ngIf="state.invalid && state.touched">State is required</small>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-sm-3">
            <h6>Zip Code</h6>
          </div>
          <div class="col">
            <input type="text" [(ngModel)]="profile.zipCode" class="form-control" placeholder="Zip Code" mask="00000"  name="zip" #zip="ngModel" required>
            <small *ngIf="zip.invalid && zip.touched">Zip Code is required. Please enter 5 digits</small>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-sm-3">
            <h6>Phone</h6>
          </div>
          <div class="col">
            <input type="text" [(ngModel)]="profile.phone" class="form-control" placeholder="Phone" mask="(000) 000-0000" name="phone" #phone="ngModel" required>
            <small *ngIf="phone.invalid && phone.touched">Phone Number is required. Please enter 10 digits</small>
          </div>
        </div>
      </form>
    
    </div>
  </div>
  <br>
</div>
  