<div class="main-wrap">
    <div class="form-wrap">
        <img id="revImg" src="../../../assets/images/rev-logo.png" alt="Revature">
        <h2>Welcome to TGH Financial</h2>
        <h4>Please Login:</h4>
        <form class="row g-3">
            <div class="input-group mb-3">
              <div class="input-group">
                <input type="text" class="form-control" [formControl]="email" placeholder="Email Address" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
              </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group">
                  <input type="password" class="form-control" [formControl]="password" id="validationDefaultPassword" placeholder="Password"  aria-describedby="inputGroupPrepend2" required>
                </div>
              </div>
              <div class="col-12">
                  <a [routerLink]="['/forgot']">Forgot Password</a>
                </div>
            <div class="col-12">
              <button class="btn btn-success btn-lg" type="submit" (click)="attemptLogin(email.value, password.value);">Login</button>
            </div>
            <div class="col-12">
                <button class="btn btn-outline-secondary btn-lg" type="submit" [routerLink]="['/register']">Register</button>
              </div>
          </form>
          <p>{{noticeMessage}}</p>
    </div>
</div>