<div class="main-wrap">
    <div class="form-wrap">
        <img id="revImg" src="../../../assets/images/rev-logo.png" alt="Revature">
        <h2>Send Email</h2>
        <form class="row g-3">
            <div class="input-group mb-3">
              <div class="input-group">
                <input type="text" class="form-control" [formControl]="email" placeholder="Email Address" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
              </div>
            </div>
            <!-- <div class="input-group mb-3">

              </div> -->
            <div class="col-12" [hidden]="newForgotVisibility">
              <button (click)="attemptForgot(email.value);" class="btn btn-success btn-lg" type="submit" >Send Email</button>
            </div>
            <div [hidden]="!newForgotVisibility">
                <small>{{NoticeMessage}}</small>
            </div>
            <div [hidden]="newErrorVisibility">
                <small class="text-danger">{{ErrorMessage}}</small>
            </div>
          </form>
          
    </div>
</div>