<div class="main-wrap">
  <div class="form-wrap">
      <img id="revImg" src="../../../assets/images/rev-logo.png" alt="Revature">
      <h2>Change Password</h2>
      <form class="row g-3">
          <!-- <div class="input-group mb-3">
            <div class="input-group">
              <input type="text" class="form-control" [formControl]="email" placeholder="Email Address" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
            </div>
          </div> -->
          <div class="input-group mb-3">
              <div class="input-title">Enter Password</div>
              
              <div class="input-group">
                <input type="password" class="form-control" [formControl]="password" id="validationDefaultPassword" placeholder="Password"  aria-describedby="inputGroupPrepend2" required>
              </div>
              
              <div class="input-title2">Re-enter Password</div>
              <div class="input-group">
                <input type="password" class="form-control" [formControl]="confirmPassword" id="validationDefaultPassword" placeholder="Password"  aria-describedby="inputGroupPrepend2" required>
              </div>
          </div>
          <div class="col-12" [hidden]="hidden">
            <button class="btn btn-success btn-lg" type="submit" (click)="attemptResetPassword(password.value, confirmPassword.value);">Submit</button>
          </div>
          
        </form>
        <div class="col-12" [hidden]="hidden">
          <small class="text-danger">{{noticeMessage}}</small>
        </div>
        <p> <a class="registration-link" href="#" routerLink="/register">{{noticeMessage2}}</a> </p>
  </div>
</div>